@model IQueryable<DataAccessLayer.Boekingen>

@{
    ViewBag.Title = "BoekingOverzicht";
}
<link href="../Content/StyleSheet.css" rel="stylesheet" type="text/css" />
<div id="wrapper">
    <div id="headerwrap">
        <div id="header">
            <h1>HotelService </h1>
        </div>
    </div>
    <div id="menuwrap">
        <div id="menu">
            <p>
                @Html.ActionLink("Home", "MedewerkersIndex", "Home") | 
                @Html.ActionLink("Kamers", "KamerOverzicht", "Kamer") | 
                @Html.ActionLink("Gasten", "GastOverzicht", "Gast") |
                @Html.ActionLink("Boekingen", "BoekingOverzicht", "Boeking") |
                @Html.ActionLink("Log uit", "Logoff", "Home")
            </p>
        </div>
    </div>
    <div id="contentwrap">
        <div id="content">
            <h2>@ViewBag.Title</h2>
            
            @using (Html.BeginForm("BoekingOverzicht", "Boeking", FormMethod.Post))
            {
                <p>
                    Startdatum
                @Html.Editor("Startdate")
                </p>
                <p>
                    Einddatum
                @Html.Editor("Enddate")
                </p>
                
                <p>
                    <input type="submit" value="Zoek" /></p>
            }
            <table>
                <tr>
                    <th>ID</th>
                    <th>Kamernummer</th>
                    <th>Startdatum</th>
                    <th>Einddatum</th>
                    <th>KlantID</th>
                </tr>

                @foreach (var boeking in Model)
                { 
                    <tr>
                        <td>@boeking.BoekingsNr</td>
                        <td>@boeking.Boeking_KamerNr</td>
                        <td>@boeking.Startdatum</td>
                        <td>@boeking.Einddatum</td>
                        <td>@boeking.Boeking_KlantNr</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { boekingsNr = boeking.BoekingsNr}) | 
                            @Html.ActionLink("Delete", "Delete", new { boekingsNr=boeking.BoekingsNr }) | 
                            @Html.ActionLink("Klant Details", "Details", "Gast", new { klantNr = boeking.Boeking_KlantNr }, null)
                        </td>
                    </tr>
                }

            </table>

            @Html.ActionLink("Create New Boeking", "Create")
        </div>
    </div>
    <div id="footerwrap">
        <div id="footer">
            <p>Martijn de Fijter en Suzanne Jenniskens - 2013/2014 - 42IN06SOc</p>
        </div>
    </div>
</div>

<script>
    function OpenDeleteWarning() {
        var userWidth = screen.availWidth;
        var userHeight = screen.availHeight;
        leftPos = (userWidth - 300) / 2,
        topPos = (userHeight - 180) / 2;
        settings = 'modal,scrollBars=no,resizable=no,toolbar=no,menubar=no,location=no,directories=no,left=' + leftPos + ',top=' + topPos + ',width=300, height=180';

        window.open("Delete", "popup", settings);
    }
    </script>