@model HotelService.Models.Boeking
@{
    ViewBag.Title = "Nieuwe Boeking";
}

<link href="../Content/StyleSheet.css" rel="stylesheet" type="text/css" />
<div id="wrapper">
    <div id="headerwrap">
        <div id="header"> <h1> HotelService </h1></div>
    </div>
    <div id="menuwrap">
        <div id="menu">
            <p> 
                @Html.ActionLink("Home", "KlantIndex", "Home") | 
                @Html.ActionLink("Bekijk onze kamers", "KamerOverzicht", "Kamer") | 
                @Html.ActionLink("Bekijk uw vorige boekingen", "KlantBoekingOverzicht", "Boeking") | 
                @Html.ActionLink("Log uit", "Logoff", "Home")
            </p>
        </div>
    </div>
    <div id="contentwrap">
        <div id="content">    
            <h2>@ViewBag.Title</h2>
            <p>Hier kun je een nieuwe boeking aanmaken</p>

            @using (Html.BeginForm())
            { 
                <fieldset>
	                <legend>Nieuwe boeking aanmaken</legend>
                    
	                <p>
                        Kamernummer
                        @Html.EditorFor(model => model.KamerNummer)
	                </p>

                    <p>
                        KlantID
                        @Html.EditorFor(model => model.KlantID)
                    </p>

                    <p>
                        Startdatum
                        @Html.EditorFor(model => model.Startdatum)
                    </p>

                    <p>
                        Einddatum
                        @Html.EditorFor(model => model.Einddatum)
                    </p>

                    <p><input type="submit" value="Nieuwe boeking aanmaken" /></p>
                </fieldset>
            }
        </div>
    </div>
    <div id="footerwrap">
        <div id="footer"> <p>Martijn de Fijter en Suzanne Jenniskens - 2013/2014 - 42IN06SOc</p></div>
    </div>
</div>
