@model IQueryable<DataAccessLayer.Hotelkamer>

@{
    ViewBag.Title = "Overzicht";
}

<link href="../Content/StyleSheet.css" rel="stylesheet" type="text/css" />
<div id="wrapper">
    <div id="headerwrap">
        <div id="header">
            <h1>HotelService </h1>
        </div>
    </div>
    <div id="menuwrap">
        <div id="menu">
            <p>
                @Html.ActionLink("Home", "Index", "Home") | 
                @Html.ActionLink("Kamers", "KamerOverzicht", "Kamer") | 
                @Html.ActionLink("Gasten", "GastOverzicht", "Gast") |
                @Html.ActionLink("Boekingen", "BoekingOverzicht", "Boeking")
            </p>
        </div>
    </div>
    <div id="contentwrap">
        <div id="content">
            <h2>@ViewBag.Title</h2>

            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
            <table>
                <tr>
                    <th>Kamer nummer</th>
                    <th>Aantal Personen</th>
                    <th>Prijs per nacht</th>
                    <th>Minimum prijs</th>
                </tr>

                @foreach (var kamer in Model) {
                    <tr>
                        <td>@kamer.KamerNummer</td>
                        <td>@kamer.AantalPersonen</td>
                        <td>@kamer.ActuelePrijs</td>
                        <td>@kamer.MinimumPrijs</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div id="footerwrap">
        <div id="footer"> <p>Martijn de Fijter en Suzanne Jenniskens - 2013/2014 - 42IN06SOc</p></div>
    </div>
</div>

